
.mat-toolbar-single-row {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 5;
}
img {
    max-width: 200px;
    cursor: pointer;
}
.active {
    background-color: #4141ff;
    color: white;
}
button, img {
    outline: none;
}
