.flex-container {
    padding: 10px 0;
    background-color: #fdea00;
    width: 100%;
    position: absolute;
    // bottom: 0;
}
p {
    font-size: 0.9rem;
}
div {
    text-align: center;
}
a {
    text-decoration: none;
}