<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
    <form>
        <div class="form-group">
            <label for="uername">Username</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control">
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color='primary' mat-dialog-close>Login</button>
</mat-dialog-actions>