<div class="containers">
    <div class="header">

    </div>
    <!-- <div class="card">
        <div class="text">
            <h1>WELCOME TO OUR HOMEFOOD</h1>
            <p>
                At Homefood, we believe in delivering an unforgettable exquisite experience.
            </p>            
            <p>Our vision goes beyond just preparing quality, authentic, hygienic and 
                mouth watering food. We specialize in preparing traditional pan-asian dishes from across
                the asian sub-continent such as India, Bangladesh & Pakisthan with a sophisticated
                approach and maintaining authenticity so you can experience something unique.
            </p>
            <p>
                Let us take you on a journey to sublime your senses, tease your taste buds and 
                discover true culture food that can't be matched or replicated elsewhere
            </p>
            <img src="../../assets/images/ingredients.jpg" alt="">
        </div>
    </div> -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>WELCOME TO OUR HOMEFOOD</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    At Homefood, we believe in delivering an unforgettable exquisite experience.
                </p>            
                <p>Our vision goes beyond just preparing quality, authentic, hygienic and 
                    mouth watering food. We specialize in preparing traditional pan-asian dishes from across
                    the asian sub-continent such as India, Bangladesh & Pakisthan with a sophisticated
                    approach and maintaining authenticity so you can experience something unique.
                </p>
                <p>
                    Let us take you on a journey to sublime your senses, tease your taste buds and 
                    discover true culture food that can't be matched or replicated elsewhere
                </p>
            </mat-card-content>
            <img mat-card-image src="../../assets/images/ingredients.jpg" alt="">

        </mat-card>
</div>