mat-card {
    // width: 45%;
    margin: 15px;
}
mat-card:hover {
    box-shadow: 2px 2px 20px 5px gray;
}
img  {

    background-size: cover;
    min-width: 320px;
    // height: 200px;
}
button {
    outline: none;
}